* {
    font-family: 'Catamaran', sans-serif;
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}


.banner-1 {
    background: url(../images/banners/pexels-samson-katt-5256088.jpg);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    color: #fff;
    text-align: center;
}



.banner-1,.banner-2, .banner-3 h2 {
    font-weight: 800;
    font-size: 3rem;

}


.banner-2 {
    background: url(../images/pexels-tima-miroshnichenko-6693661.jpg);
    background-size: cover;
    color: #fff;
}




.banner-3 {
    background: url(../images/banners/pexels-tim-douglas-6567607.jpg);
    background-size: cover;
    color: #fff;
}



/* ---------------------card card babber------------------- */


.card-banner h5{
    font-weight: 800;
    font-size: 2rem;
    color: #fff;
    margin-top: 10rem;
}

.card-banner p{
    font-weight: 600;
    font-size: 1.5rem;
    color: #fff;
}


.card-banner {
    transition: .5s;
    border: 1rem;
    background: none;
}


.card-banner img {
    transition: .5s;
}

.card-banner video {
    transition: .5s;
}

.card-banner video:hover {
    transform: scale(0.9);
}


.card-banner img:hover {
    transform: scale(0.9);
}


/* ---------------------card banner------------------- */







/* -----------------------card-card-------------------------- */


.cards .card{
    transition: .5s;
    background: transparent;
    color: #000;
    padding: 2rem;
    margin-bottom: 5rem;
    border: none;
}

.cards .card h5{
    font-size: 1.5rem;
    font-weight: 800;
}

.cards .card p{
    font-size: 1.2rem;
}

.cards .card img{
    width: 100%;
}




.card-footer{
    background: none;
    border: none;
}






/* -----------------------card-card-------------------------- */

.icon-social,
.icon-contato {
    font-size: 2rem;
    color: #3939d8;
    transition: .5s;
}

.icon-social, .icon-contato:hover {
    color: #a0dff8;
    transform: scale(1.2);
}



/* ---------------------footer----------------------- */

footer {
    flex-direction: column;
    background: #000000;
    padding: 50px 0;
}

footer ul {
    display: flex;
    margin-bottom: 25px;
    list-style: none;
}

footer ul li {
    margin-right: 1rem;
}

footer ul li:last-child {
    margin-right: 2.2rem;
}

footer ul li a {
    color: #fff;
    font-size: 4rem;
}

footer p {
    color: #fff;
    text-align: center;
}